@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-gradient {
  background: radial-gradient(95.63% 87.9% at 50% 50.02%, #FDF6CF 46.4%, #DCE8CB 68.1%);
}

html{
  overflow: auto;
}

body {
  background: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
}
